.container{
    padding: 20px;
}

.title{
    font-size: 20px;
    color: rgba(255, 255, 255, 0.7);
}

.radioGroup{
    align-items:center;
}

.currencyContainer{
    margin-top: 25px;
}

.donateButton{
    margin: 20px 0 0;
    width:100%
}