.navbarContainer {
    display: inline-block;
    padding: 15px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo {
    flex: 1;
}
.startButton {
    transition: all 0.5s ease;
    background: #14f195 !important;
    color: #000546 !important;
}
.connectWalletButton {
    & > div {
        float: right;
    }
}
.buttons {
    display: flex;
    flex: 1;
    gap: 10px;
    justify-content: flex-end;
}
.wallet-adapter-dropdown {
    flex: 1;
}
