.container{
    width:100%;
    max-width:690px;
    color:#ffffff;
}
.title{
    font-size:48px;
    margin:0;
    opacity: 0.87;
}
.content{
  height: 540px;
  background-color: rgba(255,255,255,0.2);
  border-radius: 20px;
  padding:10px;
}
.topSection{
  display: flex;
  justify-content: space-between ;
  align-items: center;
  margin-bottom: 20px;
}