.button{
  width:230px;
  padding: 0;
  color:#ffffff;
  background: linear-gradient(to right, #5e21d2, #1f63e1);
  height: 50px;
  border:none;
  border-radius: 30px;
  font-size: 18px;
  font-weight: bold;
  cursor:pointer;
}