.connectWallet {
    color: #fff;
    display: flex;
    font-weight: 600;
    padding: 20px;
    background-color: #001f5a;
    border-radius: 8px;
}

.connectWallet img {
    flex-shrink: 0;
    width: 15px;
    height: 15px;
    margin-right: 10px;
}